<div class="heatmap-widget">
  <div class="heatmap-canvas-shell">
    <div class="heatmap-canvas-wrap" #canvasWrap>
      <canvas
        #heatmapCanvas
        class="heatmap-canvas"
        (mousemove)="onCanvasMouseMove($event)"
        (mouseleave)="onCanvasMouseLeave()">
      </canvas>
    </div>
  </div>

  <div class="heatmap-footer">
    <span class="heatmap-meta">{{ hoverText || (totalActivities + ' activity events in the last 12 weeks') }}</span>

    <div class="heatmap-scale">
      <span class="heatmap-scale__label">Low</span>
      <div class="heatmap-scale__swatches">
        <span
          *ngFor="let range of legendRanges"
          class="heatmap-scale__swatch"
          [style.background-color]="range.color"
          [attr.aria-label]="'Intensity ' + range.label">
        </span>
      </div>
      <span class="heatmap-scale__label">High</span>
    </div>
  </div>
</div>
