:host ::ng-deep .project-tasks-card .p-card-title {
   font-size: 1.25rem;
   font-weight: 600;
   margin-bottom: 1rem;
}

:host ::ng-deep .project-tasks-card .p-card-body {
   padding: 1.5rem;
}

:host ::ng-deep .project-tasks-card .p-card-content {
   padding: 0; 
}